<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>
    Your history will be displayed below
</h2>

<div th:if="${#session.getAttribute('history').getHistoryItems().size() != 0}">
<table style="border-spacing: 20px;">
    <thead>
    <tr>
        <th>Upload</th>
        <th>ID</th>
        <th>Accession ID</th>
        <th>Description</th>
        <th>Creation date</th>
        <th>Last data update date </th>
        <th>Last info update date </th>
        <th>Uploaded Sequence</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="protein, iter : ${#session.getAttribute('history').getHistoryItems()}">
        <tr th:each="prosite : ${protein.getPrositePatterns()}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${prosite.getId()}"></td>
            <td th:text="${prosite.getAccessionId()}"></td>
            <td th:text="${prosite.getDescription()}"></td>
            <td th:text="${prosite.getDates()[0]}"></td>
            <td th:text="${prosite.getDates()[1]}"></td>
            <td th:text="${prosite.getDates()[2]}"></td>
            <td th:text="${protein.getProteinSequence()}"></td>
        </tr>
    </th:block>
    </tbody>

</table>
</div>

<a th:href="@{/}"><button>Return to home</button></a>

</body>
</html>