<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Starter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Welcome to the prosite identifier</h1>
<p>Enter your amino sequence in the field below and press submit to scan your protein sequence for prosites</p>
<p>Make sure you only enter single lettered amino sequences e.g. NSTK</p>


    <form th:action="@{/prosite-scanner}" action="/prosite-scanner" method="post">
        <label for="proteinseq">Enter a protein sequenece</label>
        <input  id="proteinseq" type="text" name="proteinSequence" required>
        <input type="submit" th:value="submit">
    </form>

<a th:href="@{/history}"><button>To History</button></a>

<p th:if="${message}" th:text="${message}"></p>


<div th:if="${foundProsites.getPrositePatterns().size() != 0}">
    <table style="border-spacing: 20px;">
        <thead>
        <tr>
            <th>Uploaded Sequence</th>
            <th>ID</th>
            <th>Accession ID</th>
            <th>Description</th>
            <th>Creation date</th>
            <th>Last data update date </th>
            <th>Last info update date </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prosite : ${foundProsites.getPrositePatterns()}">
            <td th:text="${foundProsites.getProteinSequence()}"></td>
            <td th:text="${prosite.getId()}"></td>
            <td th:text="${prosite.getAccessionId()}"></td>
            <td th:text="${prosite.getDescription()}"></td>
            <td th:text="${prosite.getDates()[0]}"></td>
            <td th:text="${prosite.getDates()[1]}"></td>
            <td th:text="${prosite.getDates()[2]}"></td>
        </tr>
        </tbody>
    </table>
</div>





<!--<table th:if="${#session.getAttribute('history').getHistoryItems().size() != 0}" style="border-spacing: 20px;">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Upload</th>-->
<!--        <th>ID</th>-->
<!--        <th>Accession ID</th>-->
<!--        <th>Description</th>-->
<!--        <th>Creation date</th>-->
<!--        <th>Last data update date </th>-->
<!--        <th>Last info update date </th>-->
<!--        <th>Uploaded Sequence</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <th:block th:each="protein, iter : ${#session.getAttribute('history').getHistoryItems()}">-->
<!--    <tr th:each="prosite : ${protein.getPrositePatterns()}">-->
<!--        <td th:text="${iter.index + 1}"></td>-->
<!--        <td th:text="${prosite.getId()}"></td>-->
<!--        <td th:text="${prosite.getAccessionId()}"></td>-->
<!--        <td th:text="${prosite.getDescription()}"></td>-->
<!--        <td th:text="${prosite.getDates()[0]}"></td>-->
<!--        <td th:text="${prosite.getDates()[1]}"></td>-->
<!--        <td th:text="${prosite.getDates()[2]}"></td>-->
<!--        <td th:text="${protein.getProteinSequence()}"></td>-->
<!--    </tr>-->
<!--    </th:block>-->
<!--    </tbody>-->

<!--</table>-->


</body>
</html>